<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nouvelle série à voir d'urgence dans ton site favori</title>
	</head>
	<body>
		<h1>Nouvelle série
			{{ program.title }}
			disponible</h1>
		<p>Coucou, ce super nouveau programme :
			{{ program.title }}
			est dispo dans ton Wild Series préféré</p>
		<p>Résumé :
			{{program.synopsis }}</p>
	</body>
</html>
